# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / builds
build/
dist/

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE & Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
